openapi: 3.0.0
info:
  title: 01A - Configuracion de empresa
  version: 1.0.0
servers:
  - url: http://buho.fastura.uio.la/api
    description: Servidor Principal
paths:
  /ubl2.1/config/{nit}/{dv}:
    post:
      summary: Configurar Compañía
      description: |
        CONFIGURAR COMPAÑIA
        
        - Si se instalo un dominio se debe utilizar de la siguiente manera:
        http://midominio.com/api/ubl2.1/config/89008003/2
        
        - No requiere autorizacion.
        - En URL los ultimos dos parametros son NIT y digito de verificacion de la empresa.
        
        Devuelve un token en el response, si fue posible la creacion de la empresa, este token es una cadena alfanumerica en el campo API_TOKEN.
      tags:
        - Configuración Empresa
      parameters:
        - in: path
          name: nit
          schema:
            type: string
          required: true
          description: NIT de la empresa
        - in: path
          name: dv
          schema:
            type: string
          required: true
          description: Dígito de verificación
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type_document_identification_id:
                  type: integer
                  example: 3
                type_organization_id:
                  type: integer
                  example: 2
                type_regime_id:
                  type: integer
                  example: 2
                type_liability_id:
                  type: integer
                  example: 14
                business_name:
                  type: string
                  example: "ALEXANDER OBANDO LONDONO"
                merchant_registration:
                  type: string
                  example: "0000000-00"
                municipality_id:
                  type: integer
                  example: 820
                address:
                  type: string
                  example: "CRA 21A NRO 11-25"
                phone:
                  type: integer
                  example: 3103891693
                email:
                  type: string
                  example: "alexander_obando@hotmail.com"
                mail_host:
                  type: string
                  example: "smtp.gmail.com"
                mail_port:
                  type: string
                  example: "587"
                mail_username:
                  type: string
                  example: "backupsbabel7@gmail.com"
                mail_password:
                  type: string
                  example: "ccsdfjruqddyxcsjgfggqlqvttt"
                mail_encryption:
                  type: string
                  example: "tls"
      responses:
        '200':
          description: Empresa creada/actualizada con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  password:
                    type: string
                  token:
                    type: string
                  company:
                    type: object
        '403':
          description: Acceso restringido
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: boolean
                  message:
                    type: string

  /ubl2.1/config/certificate:
    put:
      summary: Configurar Certificado
      description: |
        CONFIGURAR CERTIFICADO
        
        Requiere un token de autorizacion el cual fue devuelto al realizar el Paso 1 - Config Company.
        El campo request.certificate corresponde a una cadena base64 del archivo .pfx o .p12.
      tags:
        - Configuración Empresa
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                certificate:
                  type: string
                  description: Certificado en Base64
                  example: "MIACAQMwgAYJKoZIhvcNAQcBoIAkgASCA+gwgDCABgkqhkiG9w0BBwGggCSABIID6DCCBXgwggV0BgsqhkiG9w0BDAoBAqCCBPswggT3MCkGCiqGSIb3DQEMAQMwGwQUhmZWv2aMBfCRCEozHl/gcotQJz0CAwDIAASCBMjF0KfY0eU38rQhyu3TUpxErpJa0GDrQEKCp6NjkM2W7lnwtr+agLx6iGIK8aRndFH6azs4O+lX13MCLEeQftNu+pN2TuVUU5PCnWyLaTJCicrDASL9SyuPuSKJ3YWkcOmPthyxF6lqaPb5oIxaUD19qiwavh3HMDhrEn9Cj7tgzSVSU/kaYYnvvuPqER3PKS5yaRrSRtbtZBAB+xO6Y0PEp8+KKnyiwx878NOvqpeYBxBqrbA+JdaO7SPRJHg/BCNKYeasdfG02FUS5eLEnBa+VPA4t/S2Acmd9Rr2mmN6uR8urigZtBRnw1xphywX592VueQ5zjUu8L+8SuOOLlb7rv5VAeFnA01IchV7zZQ83Mkb/WSB8NFwtqnZsXvSP0dWPd0bn4JiUw+OQ87KIeald2ukcPdXoJWNrx4Y8t+vTB9G+iTBxqKHwksaazyfOvNEOQzHhY08e0zW5Unqk9aNEuZbr3OXlZdsAyOMrKP8u9dKJ7Co0el+X0U4kQvFhhcB/lU4bU0vcIy4Cb4E2JeA6bhelU8deGtUHsix2hTUz+0ltSDNgioZp3a3P8pDffDmlvfRadfaaNR83J3mTEwbbRqrNcoJvteuw1+tzqBNU39RY12ajXT8xcOe28Yszu9BEpKvf1PTxy2DRL8hA7UklauAnt6KnmvXsy2Tl9Az7kaxOj0oorj0S6zbV2fvL2vG0A9hHYgezOkJ5o+xWW6IPpxqBWlQTaL+x2fyAhFLnPYIDkcwQOdi1qWkGTi3/mCh0LmJs/nN8hsstivDI6PPpo7S47XfiONCM22omy+KOlpUH9Agqe4BRywthjAnhGRcJBn+vOWrsXs/yORdT3zM1xBEVhnAxi2ik45Q0Jj9G0/yVYjA/f54z0qTh6hKzfvXIYLIk1asdfwUTon+nOPZAPyK3VwBAz+XCWPa1XHfDasdfAp60wgz2zZPr2s+9wtwzal6rx4cJcU+foJ27ZkSgRNfA34++U0FC0ryOMf9jE3CJUdXHm1EP0ltR7diguLlWNPkMZCYcpCcRC/OaLyCLr/cbeLIeyYQyYQIZCkSjUV+GBnQiTq2IrN56qp3RSjA4EH4fiETDNxxS1un+xav58sNg9OuloVN3PvYX47CfhuuzTk0UXITipIvl+cQXKYJC6Z63qQkS9naMsVFhQufgjarrUABKJIS31EWIm8TOexqP0VvFyFe39eQ/BgcCfdrYBIID6P2B4hnvKeMpVQGTVnJ0W+qxvNw3IrHBBIIBlAd3At3q17H+QoOFhOc/zrnXGAfyzMqfwFvkoTEolHlOo0IZLG7B+lFt6pcJxM4YkRglpY7w7nihd0hRGKVvd2SA6+Sl2UQGb5/My8Y6nxgywEJbAn1kWN/VjZOY9oQF70oyhc5ibM+mm036ZvlKJFoBYR1x3cYjuZq6Z1qmQP+18254yi96baFBGiONRJ2KCQDSOiggoDiM3Dekwb9Lzx+ZJpN0h7dKX2g2+2J0wuUuaOOU9WjyoAGqDNcKW/FCHaqWiPkG7NvwvBoG8Q6Eym/z3DhBtXsnp0eP6+vw4xmQuKKhwPiyuQjv5KTxa1NjKPHZp1FhgaDgCAfFJ7uuQlMvN8op794IgrdD9Qdul+SZ6CUicRN4eI3eo8wZJYLSBoftT8cFitiXUqJnxDFmMCMGCSqGSIb3DQEJFTEWBBTcxh4t7fZzafFjm9HDQWeMYLSvHjA/BgkqhkiG9w0BCRQxMh4wAEEATABFAFgAQQBOAEQARQBSACAATwBCAEEATgBEAE8AIABMAE8ATgBEAE8ATgBPAAAAAAAAMIAGCSqGSIb3DQEHBqCAMIACAQAwgAYJKoZIhvcNAQcBMCkGCiqGSIb3DQEMAQYwGwQUkfB4RXjvUTdTxpkKd1EKGQdupwUCAwDIAKCABIID6K5jO2U8IY1/iA4+spXMUL+3Pic9otFGGUk39zbhOrlNGdX27bX7Uj4Ym4/XPaPI0uumeSS7tY0IU/xuvJm97mkLiigpCNZk2uL42lRNfHTsgcUFfwvBpf0LAue4Gah055iPJGiubdtb3fE0rYDCh0YywwHIicDXbWBa3yRBz5EobTlqC71Ct8ICbdTNAHp6PCBR1OS4cNUdayq3tHcGPK1pyUM2N+xJzeR4RjC+NDvMWtes7GUfwb1LA8QbfnM4FwqMZBSmqVQn0FDyRDexYE4cKBGB0X7427Y5FoeGlNWiX9b8jgFj599LeX3szWIJSrqLBBMl8Z3ZNnUABCe4MZqP+wMmmFMbDUzpMB9562GoGxwLDVGJ+sAWLltYmMxK55bnBiLTzJNeZr3sqxl8lFMgqQW+3fBcRXtidcmzXXoFzpPxwq+nKTWjLW1P8iEynLgzDt+5psRNHKJfnMYjlBZPv/Q+mJaxHazn5DX2YwtwGaRx4NhzAIcAopHN3FIl05J9ko2kEX6z0zyVINR0y3pBR96KqmcjFhQy/PE5fKu4E9OoN2F576eno1JHjjMh4U58VEXNY5vlg6e5A9Bxfpw9mNZzGiY+yFws8c8C7YZdkG8/gEMFM+hyuN2alk0p008EggPoB5lbNYO5er4NgMZWQGkXa8d21O/5LbgAm5YdH71aH9ji67cpa8gqnKVm+gf6m/7NX8xhn2nZi3d/TlIRALqh3EWAFW8UxAaC2ZeTbv+rERcvZ97/69rAXAnZC62RcOYjj+EZPasg8xWsmn1Lda+rRrzsGilpPbG0UuO7RqHOuhIKyfkC+cm2/Rt0DYPVVdyi6BlBSEi4KncueJ+7yhscmnyub5M1dAnEf9c+oKwOdI4c33ncoX5Lho9+6kiuxL3IsLx+kmju18DaL7gKCITHvBUDJtmJs1flQnv6EtaHoG2lCtAl7N6Dlk/pnPn7N1d3wvqkFiI+SVM6XQayxZ1hib90KYA5tXX9/DLt7iPqVn8jPDGInDKHbmtOy4KuM0JV7bROjxraiS8OPKxxlMBYB6YejsYRpbdKmi2z3kdPcd894YFgHP0JvTB+LN3LJD05FG3+SM4faYYG14/3J5Cq3RnOfVSKd5hGLj8Mf+Rip6KJYO4utJoA8r0aDExO2+OpUEHkjw/ksYZ7He38GwQ8++CBQ9Y2hdItQ+0YWKUB8TAAS5mNHZAOLGE5Y2MT4DO021W3wcNnmOXXukUjrhvtyh5svC3xlyj41sB1Zp8JqRwFqzT8aRx1/lA/kZ+TbB74hDGgj7hgKcdPnwpd4eLTQMQoryz4/ix+66brjqtlJbDmPRJjjtRHBIID6EE3BbpPWuFSNgeW86T9IjnB/Z148UaAwo0EAvO087oTdawk3i/1aKUaW+9Rul0+0c79hweRUG2T4Qc147WXffciItBFPEvGmwxvZybWV6VqN0cFc1WrAX+8xoDKw//nr0/X+zjwDEPwCGKpa8JCJOyytjZDXlxxO6Dh1ccPKU7ceN+Kh1nMMRp3hCd22uX6KqZnNUt8LlKWL0oh72ausi0SQ9Ko3S0NFoLuFj8c6mGfXXyBcxeuMc5edsqnJeJ/2mST2GVXrCJSkqZJDQmx04zOHfOS39H0p7APsgm1mww8iIfluVFzHunlml/FiyKUpMoQ569ItTynlbEgu2NDX1Y79QEZDkxxM6oPlZQJRu1LSpWnPpk+0XdZrNjMtejsivJugHWCcKUNlQx1pAaj14+WRK5IkzPowTWY26j3W3QztSj0EidNSt426ZTQLJi8kVSvXqidJ6L8EAQA9rqNC5t0qq9BIpVq7KgQjwLpYVRSaIgcH2RlxiDbua+a6CKVyi4CV18dDEBnZZkxUU/iDclB55Z+ZmZKuXxBLqK79Ltarv/g3CYj0vMfa2YfJd5k409/AybtOUxzL9rE4zbkxDxgSuwGCXYHIasgfVRDT6BJ7kqmo1Y2Eu7OMc+CyASCA+ibT1DoMc5MoGMEjXH0DQrMmCRZggW8g4QUPNaQyCnZ02FYEPHVWm50deu/HEqP8gSprZS7NaNM/EEdusfdFab/UTS14m1rbhFgDC/mAsRB9Qp+JdXTaJZEvBhCXkMAnIQfDt+r4XiBKlygSy6bT1qOzsz9swEdqGy2HEtdUk8E7g/y4J8Fkz4+wMLf41fwNKiXoyvTrOkCU+DiZ94fCy/41WcMUh/U8CPBa+1kUVnpnsLvwKxfrcgHfqh4v/8pAmXkj8/0BPPXXll4pihIH9RmDjATLXuMA8k44Xm7tylK9UVzktxi7xpJMWHsZVKwxVprVFmXTqMF5WTepowBqHCiTwByr5iUZ2ffyNhw0mArkubG4zKZEHFDRyanOpmHuZK563Vtk4g5pxY8wkxHCZ0kVvGKYM8ftPlr7e+4Jys2tl+4uIXteBP1zb5nHvEzwJB1gO5kFTN1xgc05EDWGdsKuqEfi+Z5C8O33aKb5UNYmjm8WG3BflxHc5j7tD7EgbwWD64L3BYd9gxW5UaWqWQgBsvhIbUQVwetOVSuN/zGVkoHGTiUmeXJOGUrMFFB/XjutIuOF2HoLSMnWoikAQEeqtyHOT9wjkmdm05Sy2yWQ2cEhLyIKfWn0LQNzLoRtYMfw2E1FeYtuJJLxmDsRpEg04TMXCnmQnMb8B8gE3mED83OLjqMTAOSprtsBIID6MWd3S0kRSwUUMbZ+QAEb28wDBJtme7tgwwM6q+JsBvN94TXf2olKD7hIxt7DQaeA4OflKRcHQnYRQuTOBzoJaSOFtbFPSytQMZDugrLxa9lLwD1d0HoQMcUvpwdU/hU5GvARTYiQI/00Gh53X+s/LMbJ6o71fFxhkiSX6kWIdmo2a89KnURUV+gmEw66T0WCu8RabH3E2kkUm1sJphdtAVwrLSIfUm7w/arF5+zp3WXKnyInQAqypIvlaAJ+WlkYKq5RN5O84j2Pn3WYL3r8UZ+Ebpwzp+KIyelVqVg+4bhKzyVhTDoeep2q80Z5gx6QpEqBzsU+bmUhgUs7RVTD4YmEaZ4xptB8ZZc2C8C0UXta9CWsy8XD68vNERF+UjrIRScduqVFoI9pB+NZp6P/+TiEkFgM6RMv9m18Q1Y6dlGRXBmz4jsCV5kYbVCJ3PE3oDUsA1OxKCMGaannHUiiIqhe07POgi9OejiIFWQafO/x+BgtLwmFzY65txjglNCeKM40Zly4+2yQKw8mWDEEUKOhp4P41Sok2Rg+IOU7nJOfrtd2dRI7FxSPupfJZMCYjkRZG2x/GnLcJwJP9esWLzZ7jOoiAz9birN4/XbzJ7OxmfVmp3vviFqBIID6G8t04Q4USP9OCbMKnsx4xc1IHH4bzZHh2+R6tBsRa+LNrMyrLe0K3dhe3dEoR8lKggm1va2SscZXa0UWSvp5j5URL0RHt3ye96pxqzYqEOj+68hCCck/5jaF2DojovSV1O59aKm5hzOMp07fu4QapNRPZWN4PUM+1cTBhXunCCUpvwWacg2lGX2esQYKVujl9pZA1moXRXUO9Wlem+T1wTjO3IXS2QIrEUeLUm9pyQgn/HDHznqYMFiRDz+edI31/t6afY4HNQJBj+hOrcNF38g6c3w+RBWKj0/sAoQ0oIqUPGBykEtWxa+0fbCFBsfMGVG1/d3w9xKqlJB2ufL3hgL6yVWGngxa+EaE/GuqIh3BCn8QmmXnWYqicoECwUN7RVlT7vk+URrQWBqX7o6HKLEDUhtq7A+blX1B+gAuG6haN0I+h2R7r91OocVDjRidMsfGHMfasunC+Qa8ki3+YXT4dtKvh6/osqV1E76YuZuUysm33EQOKFrW9CTH+loisZCcC0ekrRxzNwFolvaPMnkzXSqXJ60odog8RsACVJzzMbwMU8Wu5YoEAtPYD6udfqzmiy89IGz5Lgbsbj4lkb1LiJLdHYd0809n6IMGA/CzPGSwvgEcXyN5WcXsTUO0+IcAaryaIxfsKfpu0oe/4FJpUfDvlXd0kQmdAl1i9ZU6v+BAr//LAgil9HMqfINBIID6JCI81bD61GOJGKdH8lvAfH9Xr/6n/p//rCLnnpYlxY92s4vVzl68W4RSpbjJ47Vaw/O+wIIdt0xUnGtqCvFQr9l57/czQP7+xbL0p3PMzW0Qgdjg9gZwjz5ULoUBJ6T/WTRwma9TE8p1P3IggFmObd7u2HcIibldXqrp9rIKtCfLpzcPRnzw5BAQsv17lJhP5d3gpVc+Efwajy69WMacThy8ToLs+pDXQeSgiyk3kOhzIhIdv0WWtXTIGKCPu+vGCpL6UqGOXqpBdQkLw9CqwJPVwAzVcBk7uuTkYxIf5pW9shR88kb21/REqRKl4H/j7A9ru5+ya0Q1KqrwA4js3sbFdN2DRbPXPE8w/UpjYUqsAn3jeMvBQxnICRYUMWKXFCpGmo0zYcAgIgs152EnwiatQ5Yoc7TpH5AWfY0oQS7qIt5tKcmUg9z30XGnhWzQrrTo1XMnKfJY9nxzCOp1aqJlGirfCSySP9V68GqIvJuFxLczw4GUQjHCk8vCz0Q9NLeLfxpyrjelWwRn9fCt2HsMpwoXFoeiFCSG0yWHCak/V5jmleSeIknEXUJD1/rPho1RzBhNrsXHuwQTl+aDJbXQaNz0VCB4YzUTMrpUi2Z0utYStkEggPoi8k27UhhfSuMHmaYErbW4swpSqOXhvOa1q3avpqoGnowuimmeuuvfvQh3ZVNKYViBcnGTPP15vtNqmGjVDi//1iKk/UVNmBosNR56W4c8oC0SuZsoWL8nJXztbzTiLM/JMx2LMw3OhSvBEDNpCAi0TkYZMWf0uWwRqP2X9FdgsJc+wmnQHOAKjYgHtypAD1XHR3UuE3STXrwBOYWj1HJqyIC1VI4syfV6SZT2X5opuhuOibkifpLrevt14Uiu65mRtN0m3bY4qGBo/j5RHxPYUtqV6IGc8lp/YViRg8SG/wIHuiWi6dBUluFU8x5/mqaQghVWqWjSYc5CEEyzUIF7XepsYCRQdjg1IQoJ9bYDtJA2lWLxIiuVCgL5HnADgCtPHEW/baSg8aAJGpSUbKZ2jzx6WjCll2ERpjz01feuJcTGuuJPMQ/e8JbnG3HaHK3C9IgylqUOKt4zTi7cQd0sHtBZjMzx4JW2GYSQ7P5dsE3KpE3LHV2F2IkKACjq23DKCWld5ehioeZRshrShMm+hCWfzONs5FZzV8U4HO2w39drpjkoqZYauwv7th0R9r8bLTBuQDUzYjBhEc5yj/B+4LbzH0vTJcOA37xYnC556qi0H0Zwl5DXWyNcMjlSBl80O5rRKo1wdOvo1X3xZhz2hhFjkxq8ehUECdVhYogOD1fB15mO4cem5SWrhJfEAmLWAvyBIID6D2V/KNXRQJro/U5kDDwgl7YQSzbMY2ocfeSI3xSWnQSIMiDzS3CG9sfKho0iRQjrutPVKHcPG22dap3P4ROI86+jjCwJ+4/uYCuVmexPa44nsBF8GkpXvwW+/dWuLS1ApiEQXhRJwj2JdJPWTRlk3P7Mulg5Koxnm/1WXM0Tn7rIp018hXaoQwXpg1VB6FnhL1U8mhRIxZUD+Ivvvr3QihUZA5VqKPQcngj/mvK2rb+7xFnz0JHnxtahNjyorQbV5o/SS8TtKBRgoWMrrdh8Wxnvs3ddmGC1JR3mj0pOrV4UAIGnQOQkaKfZDjy99RdBCaY4+ZeZQLJIAekAqajDinCHN5/TBpZYeUY4GozMSQXzL4hMIQQN+7zJPxGksn6GgPA4k07IYs8kYZ3kt8mEZTLCsEpedTIzv1WekaDXM5kVuJMaFcC+72wm6BT72xty8g4hu/vkaS/8i3SZYWes9frtvnJD35O7mmpY0F1egT2mK7ze1gsUGMxANgtiwvKsIQwtRfMat5z5Kno2iHhjSGIYz/S0P2VuPNIEY/fpEYydf+kfrfSIxkykt4NTe+kKrtu9+SId/7lP9ZLViseQtTQTBEuJZoDg/zWlpcFXX8jqwSCAv7S9hEmCx31e3UyFG67jkYeauVG00LpktKwDbTaHPCzx5jDf8dGjGDly3i26lGbLLpQy2tHXIWdUXB10qD6wqBkpwJCSax5reTHgmc7IVHoCxburR7kkNpQ5ywQwNAMsGApQV8QrFznGDH+CBIhvtuE4rPaXyt5SXPucRoMFAP9r2ojExj0UhsyHvgUvYWYiWJVJHwb1CW7SjpAXPvbjbNLvNq+C5nXOWH8veJCiALAv5MWKEx+FzDW+wq4ZZzyyXjW3LJAV4VH6ek6gNnOw3Xh9rHBa7NOdBGBlm0/kBQRLSEtTM7Dwa2nzFlNcCysaFs7IIKORXgxoHWGrMyvQigMoy5DF8yhpITzaQEnXYezUcZgZXankpNIuLoli4kyN/9Me4sA3n7gSxZCuV+rx7do5lvJZHZ6ckk3otzSJcT3LBKn+KWfrx/CnkBe4TXNt+6jyH7d79B7WfU7K4GF49ttCFcE5GBC1B6auAlK/MkkhbIlBkfpYc5EVGCPnM+SsWGMC8OZ+8PaGMFo4DdD0LiC6VNoX/O7wIftlu+hZ5H+cp0//qdp7GZfz4LkfRT/B4kvm0W8VR8fvLalh5BT16GA+3KRQjvc7pfWyO9tnYmshPeGH3pDy/Fxb+799adRAftf1DYLRrAcdOw01LYtFzb3sSenHTdZzShWvLcJnuFPIPa2BVge0K1VVbYlmBLqngVMSs0peplCBIHY/oiBRr6t+p1X6hj21DfLEQMqcTYrgaLgAbqAljSDFDSAFDSAFDjsdhg4B5BPv7wamBYBejok1+r5IZdTC5Vih0JeWjCAgh9R9QB6m7pVVrhyQra91wdOt1mKAgvXwKU2LY372x4FWkP9lK1B4MX+fVegZLo+oPELu7x3MDc314vkYCoCcXRSfG57xRVHn6vef74i1PcZOLECslOgwIrhFMJz752vKxhbW8bkTK12MThNWso3RwdJH9HVRgEO7nDPaxCdGjKdQa6EB8Jdz3Cy1vP7VBgtWAZksTlfsI/sdVMhAAAAAAAAAAAAAAAAAAAAAAAAMD4wITAJBgUrDgMCGgUABBQSj6nwaaXyh03YNKWwApHljvAuZwQU4Un8IYz3LD1GHeCqAltOXCx6tYACAwGQAAAA"
                password:
                  type: string
                  description: Clave del certificado
                  example: "WvftBsv-axtgmdffad-ZyNcacTmA"
      responses:
        '200':
          description: Certificado configurado
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
